.grid-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50% 40% auto;
    margin-bottom: 100%;
}

.grid-item {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
}

.top-grid {
    grid-column: 1 / span 2;
}

.finish {
    vertical-align: middle;
    align-self: middle;
    position: fixed;
    top: 30%;
    font-size: 400%;
    background-color: rgb(44, 161, 182, 0.75);
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}
