.label, .option, .select{
    color: #5286C1;
    background-color: #4371A3;
}

.grid-container {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 125px 125px 125px 125px 125px;
    grid-template-areas: 
    "b1 b1 b2 "
    "b1 b1 b2"
    "b3 b4 b2"
    "b5 b5 b5"
    "b6 b6 b6";
}
.b1 {
    grid-area: b1;
}
.b2 {
    grid-area: b2;
}
.b3 {
    grid-area: b3;
}
.b4 {
    grid-area: b4;
}
.b5 {
    grid-area: b5;
}
.b6 {
    grid-area: b6;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px  ;
    grid-template-areas: 
    "a1 a1 a1 a1 a2"
    "a3 a3 a3 a3 a2"
    "a6 a6 a6 a6 a6";
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}
.a3 {
    grid-area: a3;
}
.a4 {
    grid-area: a4;
}
.a5 {
    grid-area: a5;
}
.a6 {
    grid-area: a6;
}
.a7 {
    grid-area: a7;
}
.a8 {
    grid-area: a8;
}
.a9 {
    grid-area: a9;
}