body {
    background-color: powderblue;
}
h1{
    font-family: fantasy;
}
.generator{
    border-style: solid;
    background-color: rgb(234, 229, 229);
    
}
button:hover{
    border-color: whitesmoke;
    
}